In [5]:
import pandas as pd

In [6]:
test = pd.read_table('test_data', header=None, names=['text', 'label'])

In [7]:
train = pd.read_table('train_data', header=None, names=['text', 'label'])

In [12]:
df = pd.concat([train, test], axis=0, ignore_index=True)

In [23]:
df.head()

  text label
0    当     O
1    希     O
2    望     O
3    工     O
4    程     O

In [ ]:
dev = pd.read_table()